.container1 {
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container1 .image-container {
  width: 300px;
  height: 450px;
  position: relative;
}

.image-container img {
  width: 250px;
  height: 350px;
  object-fit: cover;
}
.image-title1 {
  display: none;
  position: absolute;
}
.image-title {
  display: contents;
  position: absolute;
}

.decription {
  display: contents;
}
.decription1 {
  display: none;
}
